<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ログイン画面</title>
</head>
<body>

    <h2>株の動きモニター</h2>
    <form id="loginForm">
        <label for="username">ユーザー名:</label><br>
        <input type="text" id="username" name="username"><br>
        <label for="password">パスワード:</label><br>
        <input type="password" id="password" name="password"><br><br>
        <button type="button" onclick="login()">ログインする</button>
    </form>

    <!-- Flaskからのエラーメッセージを表示するための要素 -->
    {% if error %}
        <p id="message" style="color: red;">{{ error }}</p>
    {% else %}
        <!-- エラーがない場合は空のpタグを用意 -->
        <p id="message" style="color: green;"></p>
    {% endif %}

    <script src="/static/js/scriptFile.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
</body>
</html>