<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ユーザー画面</title>
    <link rel="stylesheet" href="/static/css/styleSheet.css">
</head>
<body>
    <h1>ようこそ、{{ name }}さん！</h1>
    <p>この画面はユーザー向けアプリ画面です。</p>

    {% from "macros/putGraph.html" import render_stock_graph %} 
    
    {% for html_graph_data in html_graph_data_list %}
        {{ render_stock_graph(html_graph_data) }}
    {% endfor %}
    
    <a href="/logout">ログアウト</a>

</body>
</html>